* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*Animation to body*/
body {
  --nav-load-time: 400ms;
  --nav-link-load-time: 600ms;
}

/* Logo*/
.logo_ {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: 600;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
#divp {
  margin-left: 20%;
}
#logopic {
  min-height: 100%;
  width: 100%;
  padding-bottom: 10%;
  margin-left: 3%;
}
#logopic:hover {
  opacity: 0.6;
}

/*Images*/

#img1 {
  width: 100%;
  margin-top: 12%;
}

#img2 {
  border-radius: 50%;
  border-color: black;
}

/*Borders*/
.divborder1 {
  width: 100%;
  min-height: 3px;
  margin-top: 140px;
  position: fixed;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  background-clip: border-box;
}

.margin {
  margin-top: 12%;
}

/*Modal*/
.modal-textp {
  font-size: 2.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
  padding-left: 20%;
}
.modal-text {
  font-size: 1.13rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  text-align: center;
  padding-top: 10%;
}
#modal-btn {
  text-decoration: none;
  color: white;
}
#modal-btn:hover {
  color: white;
}

#modal-signin {
  font-size: 2.1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 34%;
  padding-top: 10%;
  color: #0b5ed7;
}
#login {
  margin-top: 5%;
  background-clip: border-box;
  padding-top: 4%;
  padding-bottom: 10%;
  max-width: 25rem;
  border-radius: 4%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  line-height: 70px;
}

/* navigation bar*/

nav {
  background-color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  max-height: 124px;
  max-width: 100%;
  transform: translateY(-20%);
  animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

nav ul li a {
  color: black;
  font-size: 20px;
  padding: 14px 10px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
li a:hover {
  background-color: #2f2f2f;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}

/*Drop down*/
.drop-nav {
  display: inline;
  list-style: none;
}
.drop-btn {
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  padding-bottom: 13px;
}

.active-page {
  border-bottom: 3px solid red;
  font-weight: 500;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 48px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* index.html*/

.main-div-sz {
  margin-top: 2%;
  margin-left: 15%;
  width: 33%;
  /* border: 3px solid transparent;
  border-image: linear-gradient(to right, red, #bc10bc);
  border-image-slice: 1; */
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  background-color: #d6f2f2;
  background-image: linear-gradient(315deg, #ead5db 0%, #d6f2f2 100%);
  background-clip: border-box;
  padding-bottom: 4%;
  border-radius: 4%;
}

.main-div-sz2 {
  margin-top: 2%;
  margin-left: 10%;
  width: 33%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  background-image: url(covid19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
}
.main-div-sz2 > * {
  position: relative;
  z-index: 2;
}
.main-div-sz2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/*Slider Background*/
.slide {
  margin-top: 2%;
}

#prev-btn {
  background-color: red;
  max-width: 6vw;
  margin-right: 80%;
  height: 7vh;
}
#next-btn {
  background-color: red;
  margin-top: 1px;
  max-width: 6vw;
  margin-left: 80%;
  height: 7vh;
}
.slide-btn:hover {
  background-color: turquoise;
}
.slide1-text {
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(-13%);
}
#slide1-h5 {
  padding-top: 15%;
  font-size: 2.7rem;
  color: white;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#slide1-p {
  padding-top: 2%;
  font-size: 1.3rem;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slide-div::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 0;
}

/*Home page spans*/
.indexsp1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 2.2rem;
  margin-left: 27%;
  color: #9c2346;
}
.indexsp2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #bc10bc;
  font-size: 2.2rem;
  padding-top: 60%;
  margin-left: 6px;
  border-bottom: 4px solid red;
}

.indexsp3 {
  margin-top: 30%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 45px;
  margin-left: 33%;
  padding-left: 7%;
  color: #9c2346;
}
.indexsp4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  padding-left: 37%;
  margin-left: 5px;
}
.indexsp5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 30px;
  margin-left: 5px;
}
.indexsp6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 30px;
  margin-left: 5px;
  border-bottom: 4px solid red;
}

/*Home page paragraphs*/
.index-p {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-size: 1.123rem;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 9%;
  text-align: justify;
  word-wrap: break-word;
  word-spacing: 1.2px;
}

.index-pxl {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  padding-top: 10%;
  font-size: 1.123rem;
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 20px;
  text-align: justify;
}
#covid {
  color: white;
  padding-top: 6%;
  text-align: center;
}

.index-p2 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-size: 30px;
  color: white;
  padding-right: 24%;
  padding-left: 25%;
  padding-bottom: 5%;
  padding-top: 5%;
  justify-content: center;
}
.index-p3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-left: 40%;
}
.index-p4 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-weight: 600;
  color: white;
  padding-left: 50%;
  font-size: 1.004rem;
  line-height: 25px;
}
/*Homepage headings*/
.indexh4 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-weight: 700;
  padding-left: 50%;
  font-size: 1.6rem;
  color: white;
}
.indexh5 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  color: black;
  font-size: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}

/*Homepage buttons*/
.index-btn {
  color: white;
  font-size: 1.9rem;
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  text-decoration: none;
}
.index-btn2 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  margin-left: 50%;
}

.index-btn2ex {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 28%;
  margin-top: 10%;
  max-width: 30rem;
}

.subscribe {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  margin-top: 5%;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}
.index-btn3 {
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}
.index-btn4 {
  color: white;
  font-size: 1rem;
  font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
    sans-serif;
  text-decoration: none;
  max-width: 25rem;
  text-align: center;
}
.index-btn4:hover {
  color: white;
}

/*Homepage cards*/
.d1-cls {
  margin-top: 3%;
  width: 70%;
  padding-left: 20%;
}
.d2-cls {
  outline: hidden;
  width: 70%;
  margin-top: 3%;
  padding-left: 20%;
}

/*Backgroud for card*/
.card-bg1 {
  background-image: url(taka.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  max-width: 100%;
  position: relative;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}
.card-bg1 > * {
  position: relative;
  z-index: 2;
}
.card-bg1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.card-bg2 {
  background-image: url(volunteer.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  max-width: 100%;
  position: relative;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}
.card-bg2 > * {
  position: relative;
  z-index: 2;
}
.card-bg2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Our programs*/

.card-h5 {
  padding-left: 20px;
  color: #bc10bc;
  padding-top: 5px;
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 10px;
}
.div1 {
  padding-left: 65px;
}
.card-div1 {
  background-color: #ffdee9;
  background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  border-radius: 4%;
}
.card-div2 {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  border-radius: 4%;
}
.card-div3 {
  background-color: #ffdee9;
  background-image: linear-gradient(315deg, #ffdee9 0%, #b5fffc 100%);
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  border-radius: 4%;
}

.bordercard {
  border: none;
}

/*Cards images*/
.program-pic {
  width: 70%;
  height: 250px;
  border-radius: 100%;
  margin-left: 33px;
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}
.program-pic1 {
  width: 80%;
  height: 250px;
}
/*index page footer*/
.div2 {
  margin-top: 7%;
  background-color: #12473e;
  background-image: linear-gradient(246deg, #74ebd5 0%, #9face6 100%);
  background-clip: border-box;
  max-width: 100%;
  max-height: 500px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
}
.join-mission {
  margin-top: 5%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  background-clip: border-box;
}

/*Donation page*/

.margintop {
  margin-top: 150px;
}

.donation-form {
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 6%;
  padding-right: 5%;
  margin-left: 15%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  width: 70%;
  height: 800px;
}
.input-box {
  border: 1px solid #0b5ed7;
}

.label1 {
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: black;
}

.donate-btn1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#donatep1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  padding-left: 33%;
  color: brown;
}
#donatediv2 {
  margin-top: 10%;
}

/*Volunteer page*/
#voldiv1 {
  margin-top: 10%;
}
#volp1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 2%;
  padding-left: 34%;
  color: #9c2346;
}
#volform {
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 5%;
  margin-left: 15%;
  width: 70%;
  height: 700px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}

h1 {
  margin-top: 30px;
  margin-left: 20px;
}

.bg-color {
  background-color: #9c2346;
}
.txt-color {
  color: aliceblue;
}

.important:after {
  content: " *";
  color: red;
}

/*Blood Donation*/

#blooddiv1 {
  margin-top: 15%;
}
#bloodp1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  padding-left: 30%;
  color: #9c2346;
}
#blood-donate-form {
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 5%;
  margin-left: 15%;
  width: 70%;
  height: 800px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}

/*Sign in page*/
.gap1 {
  margin-top: 8%;
}
.gap2 {
  margin-top: 34px;
}

#createac {
  margin-left: 40px;
}
#signin {
  font-size: 30px;
  font-family: "Secular One", sans-serif;
  margin-left: 27%;
  color: skyblue;
}

/*Responsive*/
@media (max-width: 1010px) {
  #img1 {
    width: 100%;
    margin-top: 10%;
  }
  #logopic {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    float: left;
  }
  nav {
    background: white;
    height: 220px;
    max-width: 100%;
  }
  nav ul {
    float: right;
  }

  nav ul li {
    display: inline-block;
    line-height: 20px;
    list-style: none;
    position: relative;
  }
  nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }
  li a:hover {
    border-bottom: 3px solid red;
    color: black;
    font-weight: 900;
    transition: 0.5s;
  }
  .active-page {
    border-bottom: 3px solid red;
    font-weight: 600;
  }

  #donatediv2 {
    margin-top: 24%;
    margin-bottom: 5%;
  }

  #donatep1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 44px;
    padding-left: 26%;
    color: #9c2346;
  }
  .donation-form {
    margin-right: 100%;
    padding-top: 30px;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #4c4c4c;
    width: 700px;
    height: 1000px;
  }

  .margintop {
    margin-top: 40%;
    margin-bottom: 40%;
  }

  .card-h5 {
    padding-left: 20px;
    color: #bc10bc;
    padding-top: 5px;
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 10px;
  }
  .div1 {
    padding-left: 65px;
    width: 100%;
    height: 200px;
  }
  .card-div1 {
    background-color: #ffdee9;
    background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff3cac, #2b86c5);
    border-image-slice: 1;
  }
  .card-div2 {
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #2b86c5, #ff3cac);
    border-image-slice: 1;
  }
  .card-div3 {
    background-color: #ffdee9;
    background-image: linear-gradient(315deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff3cac, #2b86c5);
    border-image-slice: 1;
  }

  .bordercard {
    border: none;
  }

  #voldiv1 {
    margin-top: 20%;
  }
  #volp1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding-left: 25%;
    color: #9c2346;
  }
  #volform {
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 5%;
    margin-left: 15%;
    margin-bottom: 14%;
    width: 700px;
    height: 500px;
    background-color: #4c4c4c;
  }
}

@media screen and (max-width: 950px) {
  .main {
    width: 100%;
  }

  #slider {
    overflow: hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    left: 0;
    margin: 0;
    animation: 20s slider infinite;
  }

  #slider figure img {
    float: left;
    width: 20%;
    margin-top: 5%;
  }

  .dropdown-h {
    height: 160px;
  }
  .dropdown-f {
    font-size: 15px;
    line-height: 0px;
    margin-top: 0;
    padding-top: 0;
  }
  #logopic {
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
    margin-left: 46%;
  }
  .divborder1 {
    width: 100%;
    height: 3px;
    background-color: #9c2346;
    margin-top: 130px;
    position: fixed;
  }

  nav {
    background: white;
    height: 140px;
    max-width: 100%;
  }
  nav ul {
    float: right;
  }
  .checkbtn {
    display: block;
    margin-bottom: 20%;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 140px;
    left: -100%;
    padding-left: 160px;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 60px 0;
    line-height: 14px;
  }
  nav ul li a {
    font-size: 15px;
    color: white;
    font-family: inherit;
    text-transform: none;
    padding-left: 9px;
    padding-right: 8px;
  }
  a.active-page {
    background: none;
    color: white;
    border-bottom: 3px solid red;
    font-weight: 500;
  }

  .drop-btn {
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
    background-color: inherit;
    color: white;
    font-size: 18px;
    border: none;
    padding-bottom: 13px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #img1 {
    width: 100%;
    margin-top: 35%;
  }

  #aboutPic {
    border: 2px solid #e80d68;
    border-radius: 100%;
    margin-left: 20%;
    margin-top: 10%;
    width: 80%;
    height: 50%;
  }
  .program-pic {
    width: 200px;
    height: 200px;
  }

  .logo_ {
    color: black;
    font-size: 40px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 6%;
    padding-bottom: 10%;
    padding-right: 4%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .indexsp1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 5%;
    color: #9c2346;
  }
  .indexsp2 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 6px;
    border-bottom: 2px solid red;
  }

  .div1 {
    padding-left: 30px;
  }
  .div2 {
    margin-top: 7%;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    background-clip: border-box;
    max-width: 100%;
    max-height: 500px;
    opacity: 1;
  }

  .main-div-sz {
    margin-top: 3%;
    margin-left: 13%;
    width: 80%;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, #bc10bc);
    border-image-slice: 1;
  }

  .main-div-sz2 {
    margin-top: 15%;
    margin-left: 13%;
    width: 80%;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, #bc10bc);
    border-image-slice: 1;
    background-color: black;
  }

  .div2 {
    margin-top: 7%;
    background-color: #74ebd5;
    background-image: linear-gradient(246deg, #74ebd5 0%, #9face6 100%);
    background-clip: border-box;
    max-width: 100%;
    max-height: 500px;
  }

  .index-p {
    font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
      "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
      sans-serif;
    font-size: 15px;
    padding-left: 5%;
    margin-top: 20px;
  }

  .index-pxl {
    font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
      "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
      sans-serif;
    font-size: 15px;
    padding-left: 13%;
    margin-top: 5px;
  }

  .index-p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: cornsilk;
    padding-right: 3%;
    margin-top: 20%;
    padding-left: 5%;
    padding-bottom: 16%;
    padding-top: 16%;
  }
  .index-p3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30%;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    background-clip: text;
  }

  .index-p4 {
    font-family: apple-system, blinkmacsystemfont, "segoe ui", roboto,
      "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial,
      sans-serif;
    font-weight: 600;
    color: white;
    font-size: 0.8rem;
  }

  .indexsp2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
    border-bottom: 4px solid red;
  }
  .indexsp3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-left: 1%;
    color: #9c2346;
  }
  .indexsp4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 25%;
    margin-left: 5px;
  }
  .indexsp5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
  }
  .indexsp6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
    border-bottom: 4px solid red;
  }

  .indexh4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-left: 50%;
  }

  .index-btn2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 10%;
  }
  .index-btn3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-left: 6%;
  }

  .index-btn4 {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .d1-cls {
    margin-top: 3%;
    width: 100%;
    padding-left: 5%;
  }
  .d2-cls {
    outline: hidden;
    width: 100%;
    margin-top: 3%;
    padding-left: 5%;
  }

  .card-bg1 {
    background-image: url(taka.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    max-width: 100%;
    position: relative;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .card-bg1 > * {
    position: relative;
    z-index: 2;
  }
  .card-bg1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .card-bg2 {
    background-image: url(volunteer.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    max-width: 100%;
    position: relative;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .card-bg2 > * {
    position: relative;
    z-index: 2;
  }
  .card-bg2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .card-div1 {
    background-color: #ffdee9;
    background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff3cac, #2b86c5);
    border-image-slice: 1;
    margin-right: 4%;
  }
  .card-div2 {
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #2b86c5, #ff3cac);
    border-image-slice: 1;
    margin-right: 4%;
  }
  .card-div3 {
    background-color: #ffdee9;
    background-image: linear-gradient(315deg, #ffdee9 0%, #b5fffc 100%);
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff3cac, #2b86c5);
    border-image-slice: 1;
    margin-right: 4%;
  }

  .donation-form {
    margin-top: 2%;
    padding-top: 30px;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #4c4c4c;
    width: 75%;
    height: 100%;
  }

  .label1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: honeydew;
  }

  #donatediv2 {
    margin-top: 14%;
    margin-bottom: 20%;
  }

  #donatep1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding-left: 20%;
    color: #9c2346;
  }

  .donate-btn1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  #voldiv1 {
    margin-top: 10%;
  }
  #volp1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-left: 17%;
    color: #9c2346;
  }
  #volform {
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 5%;
    margin-left: 15%;
    margin-bottom: 14%;
    width: 70%;
    height: 100%;
    background-color: #4c4c4c;
  }

  /*Blood Donation*/
  #blood-donate-form {
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 5%;
    margin-left: 15%;
    width: 70%;
    height: 100%;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #3a4a54 100%);
  }

  /*Sign in form*/
  #login {
    margin-top: 5%;
    background-clip: border-box;
    padding-top: 4%;
    padding-bottom: 10%;
    max-width: 30rem;
    border-radius: 4%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    line-height: 70px;
  }
  img:hover {
    opacity: 0.5;
  }

  .in_txt1 {
    width: 90%;
    margin-bottom: 5%;
    height: 20%;
  }
  #createac {
    margin-left: 40px;
  }
}

/*Animation for navbar*/

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes div-load {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}
